<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 pl-0">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-lg-10" *ngIf="isLoading">
      <div class="d-flex justify-content-center">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div class="col-lg-10" *ngIf="!isLoading">
      <div>
        <h1 class="mt-2">Pending Transaction:</h1>
        <h3 class="mb-4">
          These transactions are waiting to be included in the next block. Next
          block is created when you start the mining process.
        </h3>
      </div>

      <div *ngIf="dataSource.data.length > 0">
        <mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z0"
          id="device-table"
        >
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fromAddress">
            <mat-header-cell
              *matHeaderCellDef
              style="max-width: 300px"
              class="mr-2 ml-2"
            >
              From
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              style="max-width: 300px"
              class="mr-2 ml-2"
            >
              {{ element.fromAddress }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="toAddress">
            <mat-header-cell
              *matHeaderCellDef
              style="max-width: 300px"
              class="mr-2 ml-2"
            >
              To
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              style="max-width: 300px"
              class="mr-2 ml-2"
            >
              {{ element.toAddress }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.amount }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="timestamp">
            <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.timestamp }}
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns"
            id="header"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
      </div>
      <div *ngIf="dataSource.data.length == 0">
        <H2>Không có dữ liệu</H2>
      </div>
      <div>
        <button
          id="Success"
          class="btn btn-primary btn-block mt-2"
          (click)="startMining()"
          [disabled]="dataSource.data.length == 0"
        >
          Start mining
        </button>
      </div>
    </div>
  </div>
</div>
